


<div>
  &nbsp;
</div>
<div class="heading">
  <div>
  Please choose which side of the argument is more relevant then
  <a (click)="navProgress()">continue >>></a>
  </div>
  <div>
    {{message}}
  </div>
</div>
<div class="cards-container">
  <div class="card" *ngFor="let cardStruct of cards">

      <a (click)="cardStruct.usCard.isGreen = true; cardStruct.isDirty = true;">
        <div class="col-md-6 col-xs-6" [ngClass]="{'pair': true, 'bgGrey': !cardStruct.usCard.isGreen, 'bgBlue': cardStruct.isDirty && cardStruct.usCard.isGreen}">
          <div class="card-text">
            <span>{{cardStruct.card.green}}</span>
          </div>
        </div>
      </a>

      <a (click)="cardStruct.usCard.isGreen = false; cardStruct.isDirty = true;">

        <div class="col-md-6 col-xs-6" [ngClass]="{'pair': true, 'bgGrey': cardStruct.usCard.isGreen, 'bgBlue': cardStruct.isDirty && !cardStruct.usCard.isGreen}">
          <div class="card-text">
            <span>{{cardStruct.card.red}}</span>
          </div>
        </div>
      </a>
    
  </div>
</div>